@charset "UTF-8";
body {
    font: 14px/1.5 \5b8b\4f53,tahoma,Arial;
    color: #666;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    vertical-align: top;
    border: 0;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, input {
    font-size: 14px;
    font-weight: normal;
}

address, cite, code, em, th {
    font-weight: normal;
    font-style: normal;
}

input, select, textarea {
    outline: 0;
    vertical-align: middle;
    font-size: 12px;
}


/*工具条*/
div.divToolBar {
    padding: 10px 0;
}

input.button, a.button {
    display: block;
    *display: block;
    zoom: 0;
    background-color: #dd4b39;
    padding: 6px;
    border-radius: 2px;
    min-width: 46px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    margin: 0 4px;
    border: 0;
}

a.Nonebutton {
    display: none;
}

a.lineButton {
    background-position: 6px -356px;
    padding-left: 12px;
    background-color: #dd4b39;
    color: #fff;
    line-height: 22px;
    padding: 0 6px;
    min-width: 50px;
    _width: 50px;
    display: inline-block;
    zoom: 1;
    margin: 0 5px 5px 5px;
    border-radius: 3px;
}

a.button:active, input.button:active {
    color: gray;
}

a.disabled, input.disabled {
    background-color: #b1b1b1;
}

    a.disabled:active, input.disabled:active {
        color: #fff;
    }

/*标题*/
div.formCaption {
    font-family: Microsoft YaHei;
    font-size: 18px;
    border-bottom: 1px solid #e9e9e9;
    padding: 6px 0;
    margin: 0 4px 10px 4px;
    cursor: pointer;
}
/*表头*/
div.divFormItem {
    border: 1px solid #d3d3d3;
    padding: 4px 0px 4px 0px;
    display: table-cell *display:table-cell;
    zoom: 1;
    white-space: nowrap;
    background-position: right 0;
    position: relative;
    cursor: pointer;
}

div.formItemLabel, td.formItemLabel {
    white-space: nowrap;
    text-align: right;
}
/*表单表体*/
div.divFormLineBox {
    padding: 10px 4px 4px 4px;
}

table.tableFormLine, table.tableFormReport {
    width: 100%;
    border-top: 2px solid #dd4b39;
}

table.tableFormLine {
    background-color: #e9e9e9;
    border-spacing: 1px;
}
/*url(../../Images/Public/manage_icon.png)  lijie*/
table.tableFormReport {
    background:  no-repeat;
    text-align: center;
    width: 100%;
    background-color: #e9e9e9;
    border-collapse: collapse;
    background-color: #fff;
    border-spacing: 0px;
    border-collapse: collapse;
}

    table.tableFormLine thead tr, table.tableFormReport thead tr {
        background-color: #f6f6f6;
    }

    /*去掉所有的焦点边框*/
    *:focus {outline: none;} 

    table.tableFormLine thead th, table.tableFormReport thead td {
        border-top: 2px solid #dd4b39;
        border-bottom: 1px solid #dd4b39;
        background-color: #f8f9f8;
        color: #333;
        font-weight: bold;
        /*line-height: 36px;*/
    }



    table.tableFormLine td, table.tableFormReport td {
        border: 1px solid #c5c5c5;
        background-color: #fff;
        font-size: 12px;
        padding: 8px 2px;
        /*display: table-cell;
    font-size: 12px;
    zoom: 1;
    -moz-user-select: none;
    empty-cells: show;
    padding-left: 2px;
    padding-right: 2px;
    height: 34px;
    text-overflow: ellipsis;*/
    }

    /*处理表格_表头多行的样式问题*/
table.tableFormReport .fth { border-bottom: 1px; border-bottom-color: #c5c5c5; border-bottom-style:solid;}
table.tableFormReport .sth { border-top: 0; }


table.tableFormLine table.comboTable td {
    height: 32px;
}

table.tableFormLine td {
    border: 1px solid #fff;
    background-color: #fff;
}

table.tableFormReport tr[selected=row] {
    background-color: #C7EDCC;
}

table.tableFormLine td[selected=cell] {
    border-color: blue;
    border-width: 1px;
}

table.tableFormLine td input.formCellInput, div.divFormItem input {
    width: 100%;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}

table.tableFormLine thead td {
    border-top: 2px solid #dd4b39;
    background-color: #f8f7f7;
    font-weight: bold;
}

/*表体增删行*/
table.tableFormLine a.addDelete {
    cursor: pointer;
}

    table.tableFormLine a.addDelete[isreadonly=true] {
        color: blue;
    }

        table.tableFormLine a.addDelete[isreadonly=true].active {
            color: gray;
        }

/*分页*/
div.pagingBar {
    float: right;
}

/*滚动条*/
div {
    scrollbar-face-color: #DFDFDF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #DEE3E7;
    scrollbar-3dlight-color: #D1D7DC;
    scrollbar-arrow-color: #006699;
    scrollbar-track-color: #EFEFEF;
    scrollbar-darkshadow-color: #98AAB1;
}
/*备注*/
table.tableMemo textarea {
    border: 1px solid #e9e9e9;
    margin: 4px 0;
}

/*签字条*/
/*table.tableSignature a.signatureButton {
    width: 10px;
    height: 14px;
    display: inline-block;
    background-image: url('../../../Images/Derp/FormView/EDIT.BMP');
    background-repeat: repeat-x;
}

table.tableSignature div {
    width: 40px;
    height: 20px;
    white-space: nowrap;
}*/

/*签字条*/
        table.tableSignature a.signatureButton {
            width: 45px;
            height: 20px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center right;
        }

        a.signatureButton[isdisabled=false]:hover {
            color: blue;
            cursor: pointer;
        }

        a.signatureButton[isdisabled=false]:active {
            color: gray;
        }

        a.signatureButton[isdisabled=false] {
            background-image: url('../../../Images/Derp/FormView/EDIT.BMP');
        }

        table.tableSignature div {
            width: 40px;
            height: 20px;
            white-space: nowrap;
        }

/*列表内嵌窗口*/
div.pageListInnerWindow {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 98%;
    position: absolute;
    display: none;
    z-index: 6;
    background-color: white;
}

/*日历下拉*/
div.boxShadow {
    border-width: 0px;
    -moz-box-shadow: 5px 5px 5px #909090; /* For Firefox3.6+ */
    -webkit-box-shadow: 5px 5px 5px #909090; /* For Chrome5+, Safari5+ */
    box-shadow: 5px 5px 5px #909090; /* For Latest Opera */
}


div.calendarBox {
    position: absolute;
}

table.calendarYearMonth a {
    font-weight: bold;
    font-family: Microsoft YaHei;
}

a.calendarSelector {
    margin-left: 4px;
    margin-right: 4px;
}

a.calendarNavigator {
    padding-left: 2px;
    padding-right: 2px;
}

    a.calendarSelector:hover, a.calendarNavigator:hover {
        color: red;
        cursor: pointer;
    }

    a.calendarSelector:active, a.calendarNavigator:active {
        color: gray;
        background-color: ActiveCaption;
    }

div.calendarBody {
    background-color: #EFEFEF;
}

div.calendarDay th {
    font-size: 9pt;
    font-weight: normal;
    background-color: #708090;
    color: #EFEFEF;
}

div.calendarDay td {
    font-size: 9pt;
    cursor: default;
}

div.calendarDay a[issaturday="true"] {
    color: #0000FF;
}

div.calendarDay a[issunday="true"] {
    color: #FF0000;
}

div.calendarDay a[isselected="true"] {
    background-color: #C7EDCC;
}

table.calendarYearMonth input {
    border-width: 1px;
}

div.calendarDay a {
    display: block;
    border: solid 1px;
    border-color: white gray gray white;
    background-color: #EFEFEF;
}

    div.calendarDay a:active {
        border-color: gray white white gray;
        background-color: ActiveCaption;
    }


div.dateTime ul li.calendarButtonBox {
    float: right;
    margin-top: 4px;
}

table.titleBar {
    background-color: #3a6ea5;
    color: White;
    height: 26px;
}

    table.titleBar a {
        cursor: pointer;
        font-weight: bolder;
        display: block;
        font-size: 13px;
    }

        table.titleBar a:hover {
            border: solid 1px white;
        }

        table.titleBar a:active {
            border: solid 1px gray;
            color: Gray;
        }




/*组合控件*/

table.comboTable input.comboText {
    margin: 0px;
    padding: 0px;
    background-color: White;
}

table.comboTable a.comboButton {
    color: Silver;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    font-family: '黑体';
    margin: 0px 2px 0px 0px;
    display: block;
}

table.comboTable a.imgDate {
    background-image: url('../../../Images/Derp/date.png');
    width: 14px;
    height: 16px;
    margin-top: 1px;
    margin-bottom: 1px;
}

table.comboTable a.imgSearch {
    background-image: url('../../../Images/Derp/search.gif');
    width: 14px;
    height: 18px;
}

table.comboTable a[isdisabled=false].comboButton:hover {
    color: #3879d9;
    font-weight: bolder;
}

table.comboTable a[isdisabled=false].comboButton:active {
    color: Silver;
}

div.comboList, div.calendarBox {
    position: absolute;
    top: 2px;
    left: -1px;
    width: 100%;
    background-color: White;
    max-height: 220px;
    overflow: auto;
    border: solid 1px #d3d3d3;
    display: none;
}

    div.comboList table {
        height: 100%;
        border-width: 0px;
        border-spacing: 0px;
    }

        div.comboList table td {
            height: 20px;
            border-width: 0px;
            padding: 1px;
            border-spacing: 0px;
            font-size: 12px;
        }


        div.comboList table.tableFormReport tr[selected=row] td {
            background-color: #C7EDCC;
        }

        div.comboList table.tableFormReport td[selected=cell] {
            border-width: 0px;
        }

div.comboTextBox input.comboText {
    background-color: Transparent;
}

div.comboCalendar div.comboList {
    top: 6px;
}

div.comboCalendar table.comboTable a img {
    padding-right: 1px;
}

div.divFormReport div.comboTextBox {
    width: 174px;
    height: 18px;
    border-style: inset;
    border-width: 2px;
}


/*窗体*/

.winTable {
    background-color: #3a6ea5;
}

.winBar {
    color: White;
    height: 24px;
}

td.winButton a {
    cursor: pointer;
    font-weight: bolder;
    display: block;
    font-size: 13px;
}

    td.winButton a:hover {
        border: solid 1px white;
    }

    td.winButton a:active {
        border: solid 1px gray;
        color: Gray;
    }

div.winBody {
    background-color: White;
}


/*自定义日历2014-10-25*/
.comboDate2 {
    cursor: pointer;
    width: 90px;
    height: 21px;
    border-width: 0px;
    padding-top: 2px;
    background-repeat: no-repeat;
    background-position: right;
    border-width: 0px;
    margin-top: 1px;
    background-image: url(../../../Images/Derp/FormView/date.png);
}

/*自定义日历2014-11-10*/
.comboDate {
    cursor: pointer;
    width: 85px;
    height: 21px;
    background: url(../../Images/public/manage_icon.png) no-repeat;
    padding: 10px 0;
    background-position: 75px -326px;
    color: #666;
    font-size: 12px;
    cursor: pointer;
    line-height: 16px;
}


/*列表用到的样式来源manage.css*/
.m_search {
    padding: 16px 0;
}

    .m_search .button2, .m_button {
        padding: 7px 6px;
        *padding: 3px 0;
        _padding: 7px 0 4px 0;
        min-width: 84px;
        _width: 84px;
        border-radius: 3px;
        margin-right: 10px;
        height: 30px;
        line-height: 28px;
        cursor: pointer;
        padding: 0 18px;
        border: 1px solid #cecece;
        color: #333;
        background-color: #f2f2f2;
        cursor: pointer;
        background-image: -moz-linear-gradient(top, #fafafa, #e7e7e7);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e7e7e7));
    }

input.button2 {
    padding: 7px 6px;
    *padding: 3px 0;
    _padding: 7px 0 4px 0;
    min-width: 50px;
    _width: 50px;
    border-radius: 3px;
    margin-right: 10px;
    height: 26px;
    line-height: 28px;
    cursor: pointer;
    padding: 0 18px;
    border: 1px solid #cecece;
    color: #333;
    background-color: #f2f2f2;
    cursor: pointer;
    background-image: -moz-linear-gradient(top, #fafafa, #e7e7e7);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e7e7e7));
}

.m_select2 {
    border: 1px solid #d3d3d3;
    padding: 4px 0px 4px 4px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

    .m_select2 option {
        width: 114px;
        line-height: 22px;
        background-color: #fff;
        border: 1px solid #d3d3d3;
        position: absolute;
        left: -1px;
        top: 26px;
        padding: 2px 0 2px 6px;
        overflow: hidden;
        z-index: 100;
    }

.m_search2 {
    padding: 0;
}

.m_marginLeft {
    margin-left: 5px;
}
/*隐藏IE10自带删除健*/
input::-ms-clear {
    display: none;
}
